<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <CFManifest>..\..\push.yml</CFManifest>
    <CFUser>user</CFUser>
    <CFPassword />
    <CFSavedPassword>true</CFSavedPassword>
    <CFRefreshToken />
    <CFServerUri>https://api.1.2.3.4.xip.io/</CFServerUri>
    <CFSkipSSLValidation>true</CFSkipSSLValidation>
    <CFOrganization>numenor</CFOrganization>
    <CFSpace>arandor</CFSpace>
    <DeployTargetFile></DeployTargetFile>
    <WebPublishMethod>CloudFoundry</WebPublishMethod>
	<CFPublishProfileVersion>1.0.0</CFPublishProfileVersion>
  </PropertyGroup>
</Project>
